@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'morabba';
    src: url('../assets/fonts/mo-medium.woff');
}

@font-face {
    font-family: 'morabba-bold';
    src: url('../assets/fonts/mo-bold.woff');
}

@font-face {
    font-family: 'dana';
    src: url('../assets/fonts/dana-medium.ttf');
}

@font-face {
    font-family: 'dana-bold';
    src: url('../assets/fonts/dana-demi-bold.ttf');
}

* {
    font-family: 'morabba';
}

.login-container {
    min-height: calc(100vh - 168px);
}

.menu-item:hover {
    color: #ef4444;
}