@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'morabba';
  src: url('../assets/fonts/mo-medium.woff');
}

@font-face {
  font-family: 'morabba-bold';
  src: url('../assets/fonts/mo-bold.woff');
}

@font-face {
  font-family: 'dana';
  src: url('../assets/fonts/dana-medium.ttf');
}

@font-face {
  font-family: 'dana-bold';
  src: url('../assets/fonts/dana-demi-bold.ttf');
}

* {
  font-family: 'morabba';
}

.login-container {
  min-height: calc(100vh - 216px);
}

.h-screen-size {
  min-height: calc(100vh - 216px);
}

.full-large {
  min-height: calc(100vh - 216px) !important;
}

.full-mobile {
  min-height: calc(100vh - 160px);
}

.menu-item:hover {
  color: #ef4444;
}

.category-item:hover {
  transform: scale(1.1);
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6b7280;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2937;
}


.swal2-confirm {
  border-radius: 16px !important;
  background-color: 'red' !important
}

.swal2-styled {
  border-radius: 18px !important;
  width: 80px !important;
  padding: 6px 6px !important
}

.swal2-popup {
  border-radius: 16px;
}

.linier-bg {
  background: rgb(31, 41, 55) !important;
  background: linear-gradient(90deg, rgba(31, 41, 55, 0) 10%, rgba(55, 65, 81, 0.3) 50%, rgba(31, 41, 55, 0) 90%) !important;
}


.hidden-force {
  display: none !important;
}

.block-force {
  display: block !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {transform: rotate(1turn)}
}